<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="../../../../view/css/bootstrap.css">
    <link rel="stylesheet" href="../../../../view/css/all.min.css">
    <link rel="stylesheet" href="../../../../../view/css/style.css">
</head>
<body>

<!-- Top Nav -->

<!-- Header -->

<!-- Nav -->
<!-- Nav -->

</div>
<!-- Header -->

</header>
</div>

<div class="col-12">
    <!-- Main Content -->
    <div class="row">
        <div class="col-12 mt-3 text-center text-uppercase">
            <h2>Edit Product</h2>
        </div>
    </div>

    <main class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-3 mb-4">
            <div class="row">
                <div class="col-12">
                    <h1 style="display: none">{err}</h1>
                    <form action="/edit-product" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Id</label>
                            <input type="hidden" class="form-control" name="id" required , value="{id}">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name Product</label>
                            <input type="text" class="form-control" name="name" required, value="{name}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">price</label>
                            <input type="text" class="form-control" name="price" required, value="{price}">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">quantity</label>
                            <input type="text" class="form-control" name="quantity" required, value="{quantity}">
                        </div>
                        <div class="mb-3">
                            <label for="password-confirm" class="form-label">Image</label>
                            <input type="text" class="form-control" name="image" required, value="{image}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-dark">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <!-- Main Content -->
</div>

<div class="col-12 align-self-end">
    <!-- Footer -->

    <!-- Footer -->
</div>

</div>
</div>

<script type="text/javascript" src="../../../../view/js/jquery.js"></script>
<script type="text/javascript" src="../../../../view/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../../view/js/script.js"></script>
</body>
</html>

